<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="submit">
            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"><br>
            <label for="password">Password</label>
            <input type="text" name="password" id="password"><br>
            <label for="text">Confirm Password</label>
            <input type="text" name="password" id="password"><br>
            <button type="submit">Sign Up</button>
        </form>
        <div>
            <a href="/static/templates/signin.html">already have an account</a>
        </div>
    </div>
</body>
</html>