<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <form action="submit">
            <h1>Sign In</h1>
            <label for="username" id="username">Username</label>
            <input type="text" name="username" id="username"><br>
            <label for="password">Password</label>
            <input type="text" name="password" id="password"><br>
            <button type="submit">Sign In</button>
        </form>
        <div>
            <a href="/signup">create an account</a>
        </div>
    </div>
</body>
</html>